{% extends "lapida_app/base.html" %}
{% load static %}
{% block content  %}
<!DOCTYPE html>
<html lang="en">
<body>
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h1>Haven's Memory</h1>
      <h2>Care for your loved ones, even through life.</h2>
      {%if user.is_authenticated%}
      <a href="{%url 'create-dead'%}" class="btn-get-started scrollto">Get Started</a>
      {%else%}
       <a href="{%url 'register'%}" class="btn-get-started scrollto">Get Started</a>
      {%endif%}
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img src="{% static 'lapida_app/index/img/about.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <h3>One call cleans it all.</h3>
            <p class="font-italic">
              Haven's Memory is a Metro Manila Cleaning and Restoration firm. We are dedicated partners to our clientele, helping to realize the full potential of their restoration goals and help restore their peace of mind.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Clean & Green. </li>
              <li><i class="bi bi-check-circle"></i> Restoration quality cleaning. </li>
              <li><i class="bi bi-check-circle"></i> Outstanding Results.</li>
            </ul>
            <p>
              Serving the Metro Manila Area, our team provides services that match the customer's desire. From mowing the lot to the restoring of your gravestone, we believe every detail is crucial. We go to great lengths to ensure that every project meets the highest standards, and that the output is enjoyed by our clients long after our service ends.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up">
            <div class="box">
              <span>01</span>
              <h4>Quality Gravestone Cleaning</h4>
              <p>Show your care through our high-quality gravestone cleaning services.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="150">
            <div class="box">
              <span>02</span>
              <h4>Various Auxiliary Services</h4>
              <p>From flower arrangements to candle lighting, we have several selections for you to express your love to the departed ones.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <span>03</span>
              <h4>Convenient Transactions</h4>
              <p>In just a few clicks, booking these kinds of services has never been simpler.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Clients Section ======= -->
<!--    <section id="clients" class="clients">-->
<!--      <div class="container" data-aos="zoom-in">-->

<!--        <div class="row d-flex align-items-center">-->

<!--          <div class="col-lg-2 col-md-4 col-6">-->
<!--            <img src="{% static 'lapida_app/index/img/clients/client-1.png' %}" class="img-fluid" alt="">-->
<!--          </div>-->

<!--          <div class="col-lg-2 col-md-4 col-6">-->
<!--            <img src="{% static 'lapida_app/index/img/clients/client-2.png' %}" class="img-fluid" alt="">-->
<!--          </div>-->

<!--          <div class="col-lg-2 col-md-4 col-6">-->
<!--            <img src="{% static 'lapida_app/index/img/clients/client-3.png' %}" class="img-fluid" alt="">-->
<!--          </div>-->

<!--          <div class="col-lg-2 col-md-4 col-6">-->
<!--            <img src="{% static 'lapida_app/index/img/clients/client-4.png' %}" class="img-fluid" alt="">-->
<!--          </div>-->

<!--          <div class="col-lg-2 col-md-4 col-6">-->
<!--            <img src="{% static 'lapida_app/index/img/clients/client-5.png' %}" class="img-fluid" alt="">-->
<!--          </div>-->

<!--          <div class="col-lg-2 col-md-4 col-6">-->
<!--            <img src="{% static 'lapida_app/index/img/clients/client-6.png' %}" class="img-fluid" alt="">-->
<!--          </div>-->

<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Clients Section &ndash;&gt;-->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <span>Services</span>
          <h2>Services</h2>
          <p>Select from the variety of services available to you.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><i class="bx bxs-donate-heart"></i></div>
              <h4><a href="">Gravesite Care</a></h4>
              <p>Removal of overgrowth and debris. Grass trimming, edging, weeding, and raking of leaves
              and dead plant matter. Also includes reconditioning of the tombstone.</p>
            </div>
          </div>

<!--          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="150">-->
<!--            <div class="icon-box">-->
<!--              <div class="icon"><i class="bx bx-file"></i></div>-->
<!--              <h4><a href="">Bi-Annual Service Package</a></h4>-->
<!--              <p>This service package includes two headstone  cleaning visits. Additional services for site care can be added to this cleaning.</p>-->
<!--            </div>-->
<!--          </div>-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bxs-florist"></i></div>
              <h4><a href="">Floral Arrangements</a></h4>
              <p>Placement of artificial flower arrangements. Includes standard bouquets & materials.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="450">
            <div class="icon-box">
              <div class="icon"><i class="bx bxs-flame"></i></div>
              <h4><a href="">Candle Lights</a></h4>
              <p>Light candles to your loved one for their guidance.</p>
            </div>
          </div>

<!--          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="600">-->
<!--            <div class="icon-box">-->
<!--              <div class="icon"><i class="bx bx-slideshow"></i></div>-->
<!--              <h4><a href="">Floral Arrangements</a></h4>-->
<!--              <p>Placement of artificial flower arrangements-Includes standard bouquets & materials</p>-->
<!--            </div>-->
<!--          </div>-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="750">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">Prayer Service</a></h4>
              <p>This service provides a personal prayer for your loved one to put their souls at ease and to send a heartfelt message.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
<!--    <section id="cta" class="cta">-->
<!--      <div class="container" data-aos="zoom-in">-->

<!--        <div class="text-center">-->
<!--          <h3>Call To Action</h3>-->
<!--          <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
<!--          <a class="cta-btn" href="#">Call To Action</a>-->
<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Cta Section &ndash;&gt;-->
    <!-- ======= Portfolio Section ======= -->
<!---
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <span>Portfolio</span>
          <h2>Portfolio</h2>
          <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="150">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{% static 'lapida_app/index/img/portfolio/portfolio-1.jpg' %}"" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 1</h4>
              <p>App</p>
              <a href="{% static 'lapida_app/index/img/portfolio/portfolio-1.jpg' %}"" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{% static 'lapida_app/index/img/portfolio/portfolio-2.jpg' %}"" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <a href="{% static 'lapida_app/index/img/portfolio/portfolio-2.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{% static 'lapida_app/index/img/portfolio/portfolio-3.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 2</h4>
              <p>App</p>
              <a href="{% static 'lapida_app/index/img/portfolio/portfolio-3.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="{% static 'lapida_app/index/img/portfolio/portfolio-4.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 2</h4>
              <p>Card</p>
              <a href="{% static 'lapida_app/index/img/portfolio/portfolio-4.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{% static 'lapida_app/index/img/portfolio/portfolio-5.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 2</h4>
              <p>Web</p>
              <a href="{% static 'lapida_app/index/img/portfolio/portfolio-5.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{% static 'lapida_app/index/img/portfolio/portfolio-6.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 3</h4>
              <p>App</p>
              <a href="{% static 'lapida_app/index/img/portfolio/portfolio-6.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="{% static 'lapida_app/index/img/portfolio/portfolio-7.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 1</h4>
              <p>Card</p>
              <a href="{% static 'lapida_app/index/img/portfolio/portfolio-7.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="{% static 'lapida_app/index/img/portfolio/portfolio-8.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 3</h4>
              <p>Card</p>
              <a href="{% static 'lapida_app/index/img/portfolio/portfolio-8.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{% static 'lapida_app/index/img/portfolio/portfolio-9.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <a href="{% static 'lapida_app/index/img/portfolio/portfolio-9.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

        </div>

      </div>

    </section>  --><!-- End Portfolio Section -->

    <!-- ======= Pricing Section ======= -->
<!--    <section id="pricing" class="pricing">-->
<!--      <div class="container">-->

<!--        <div class="section-title">-->
<!--          <span>Pricing</span>-->
<!--          <h2>Pricing</h2>-->
<!--          <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>-->
<!--        </div>-->

<!--        <div class="row">-->

<!--          <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="150">-->
<!--            <div class="box">-->
<!--              <h3>Free</h3>-->
<!--              <h4><sup>$</sup>0<span> / month</span></h4>-->
<!--              <ul>-->
<!--                <li>Aida dere</li>-->
<!--                <li>Nec feugiat nisl</li>-->
<!--                <li>Nulla at volutpat dola</li>-->
<!--                <li class="na">Pharetra massa</li>-->
<!--                <li class="na">Massa ultricies mi</li>-->
<!--              </ul>-->
<!--              <div class="btn-wrap">-->
<!--                <a href="#" class="btn-buy">Buy Now</a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="zoom-in">-->
<!--            <div class="box featured">-->
<!--              <h3>Business</h3>-->
<!--              <h4><sup>$</sup>19<span> / month</span></h4>-->
<!--              <ul>-->
<!--                <li>Aida dere</li>-->
<!--                <li>Nec feugiat nisl</li>-->
<!--                <li>Nulla at volutpat dola</li>-->
<!--                <li>Pharetra massa</li>-->
<!--                <li class="na">Massa ultricies mi</li>-->
<!--              </ul>-->
<!--              <div class="btn-wrap">-->
<!--                <a href="#" class="btn-buy">Buy Now</a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">-->
<!--            <div class="box">-->
<!--              <h3>Developer</h3>-->
<!--              <h4><sup>$</sup>29<span> / month</span></h4>-->
<!--              <ul>-->
<!--                <li>Aida dere</li>-->
<!--                <li>Nec feugiat nisl</li>-->
<!--                <li>Nulla at volutpat dola</li>-->
<!--                <li>Pharetra massa</li>-->
<!--                <li>Massa ultricies mi</li>-->
<!--              </ul>-->
<!--              <div class="btn-wrap">-->
<!--                <a href="#" class="btn-buy">Buy Now</a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Pricing Section &ndash;&gt;-->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <span>Team</span>
          <h2>Team</h2>
          <p>Sorry eto lang kami.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="{% static 'lapida_app/index/img/team/team-a.png' %}" alt="">
              <h4>LazyMeercat</h4>
              <span>Laging Tulog</span>
<!--              <p>-->
<!--                Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut-->
<!--              </p>-->
<!--              <div class="social">-->
<!--                <a href=""><i class="bi bi-twitter"></i></a>-->
<!--                <a href=""><i class="bi bi-facebook"></i></a>-->
<!--                <a href=""><i class="bi bi-instagram"></i></a>-->
<!--                <a href=""><i class="bi bi-linkedin"></i></a>-->
<!--              </div>-->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="{% static 'lapida_app/index/img/team/team-b.png' %}" alt="">
              <h4>Arko</h4>
              <span>Taga Yo-Yo</span>
<!--              <p>-->
<!--                Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus-->
<!--              </p>-->
<!--              <div class="social">-->
<!--                <a href=""><i class="bi bi-twitter"></i></a>-->
<!--                <a href=""><i class="bi bi-facebook"></i></a>-->
<!--                <a href=""><i class="bi bi-instagram"></i></a>-->
<!--                <a href=""><i class="bi bi-linkedin"></i></a>-->
<!--              </div>-->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="{% static 'lapida_app/index/img/team/team-c.jpg' %}" alt="">
              <h4>China</h4>
              <span>DJ</span>
<!--              <p>-->
<!--                Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara-->
<!--              </p>-->
<!--              <div class="social">-->
<!--                <a href=""><i class="bi bi-twitter"></i></a>-->
<!--                <a href=""><i class="bi bi-facebook"></i></a>-->
<!--                <a href=""><i class="bi bi-instagram"></i></a>-->
<!--                <a href=""><i class="bi bi-linkedin"></i></a>-->
<!--              </div>-->
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <span>Contact</span>
          <h2>Contact</h2>
          <p>Free data lang kami, pa-pm na lang sa Messenger.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>A108 Adam Street, New York, NY 535022</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>contact@example.com</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>+1 5589 55488 55</p>
            </div>
          </div>

        </div>

        <div class="row" data-aos="fade-up">

          <div class="col-lg-6 ">
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Day</h3>
              <p>
                A108 Adam Street <br>
                NY 535022, USA<br><br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>
{%endblock%}
</body>

</html>