{% extends "lapida_app/base.html" %}
{% load static %}
{% block content  %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{order.media}}
{% load define_action %}
<!-- Demo header-->
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
            crossorigin="anonymous">
    </script>
    <script src="jquery.nice-number.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'lapida_app/menu/menu.css' %}" rel="stylesheet">
    <link href="{% static 'lapida_app/menu/css/gijgo.min.css' %}" rel="stylesheet">
    <link href="jquery.nice-number.css" rel="stylesheet">


</head>
<section class="py-5 header text-center text-white">
    <div class="container pt-4">
        <header>
            <h1 class="display-4">HAVEN'S MEMORY SERVICES</h1>
            <h6 class="font-italic mb-1">Select the services that you would like to avail for your loved one.</h6>
        </header>
    </div>
</section>


<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto">
                
                <div class="card shadow border-0 mb-5">
                    <div class="card-body p-5">
                        <h2 class="h4 mb-1">Choose Beneficiary</h2>
                        <p class="small text-muted font-italic mb-4">Select a registered loved one.</p>
                        <form method="POST" action="">
                  <select class="form-select" name="uid" aria-label="Default select example" required>
                  <option selected disabled value ="">Select a Loved One</option>
                  {% with cemetery=""%}
                  {%for item in form%}
                  <option value="{{item.uid}}" {% if item.uid == uid %} cemetery=item.place selected{% endif %}>{{item.last_name}}, {{item.first_name}} {{item.middle_name}}</option>
                  {%endfor%}
                </select>
                    </div>
                </div>
                <div class="card shadow border-0 mb-5">
                    <div class="card-body p-5">
                                   <p> {{cemetery}} </p>
                                          {%endwith%}
<!--                          {%for place in cemeteries%}
                         <p> {{place}} </p>
                         {%endfor%} -->
                        <h2 class="h4 mb-1">Pick a Service</h2>
                        <p class="small text-muted font-italic mb-4">You can pick any number of services to avail.</p>
                            {% csrf_token %}
                        <ul class="list-group mx-auto">
                            <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="graveCheck" type="checkbox" name="graveCheck">
                                    <label class="cursor-pointer font-italic d-block custom-control-label" for="graveCheck"><p class="mb-0">Gravesite Care</p><span class="small font-italic text-muted">Includes gravestone and landscape care for the refurbishment of your loved one's resting place.</span>
                                    </label>
                                 <label for="graveCheck"><img src="https://images-ext-1.discordapp.net/external/3Qi2hGT4nYHrRLZDNC-dKjDQ6wgcSdPH2PNyVYG8p_s/http/rose-rock.com/wp-content/uploads/cleaning-a-headstone.jpg" alt="" width="180"></label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="flowerCheck" type="checkbox" name="flowerCheck">
                                    <label class="cursor-pointer font-italic d-block custom-control-label" for="flowerCheck"><p class="mb-0">Floral Arrangements</p><span class="small font-italic text-muted">Placement of artificial flower arrangements. Includes standard bouquets & materials. Price varies.</span>
                                    </label>
                                 <label for="flowerCheck"><img src="https://images-ext-1.discordapp.net/external/dbeLxEtcPs2Kf_VsEaTtBWMpJayuX2cttqSNtWMSVKc/https/asset.bloomnation.com/c_pad%2Cd_vendor%3Aglobal%3Acatalog%3Aproduct%3Aimage.png%2Cf_auto%2Cfl_preserve_transparency%2Cq_auto/v1605627801/vendor/6548/catalog/product/2/0/20181123113031_file_5bf88d973d7d6.jpg?width=697&height=675" alt="" width="180"></label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="candleCheck" type="checkbox" name="candleCheck">
                                    <label class="cursor-pointer font-italic d-block custom-control-label" for="candleCheck"><p class="mb-0">Candle Lights - ₱500</p><span class="small font-italic text-muted">Light candles to your loved one for their guidance.</span>
                                    </label>
                                 <label for="candleCheck"><img src="https://media.discordapp.net/attachments/802135528907472896/816961878198321162/candle.jpg" alt="" width="180"></label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="prayerCheck" type="checkbox" name="prayerCheck">
                                    <label class="cursor-pointer font-italic d-block custom-control-label" for="prayerCheck"><p class="mb-0">Prayer Service - ₱1500</p><span class="small font-italic text-muted">This service provides a personal prayer for your loved one to put their souls at ease and to send a heartfelt message.</span>
                                    </label>
                                 <label for="prayerCheck"><img src="https://images-ext-2.discordapp.net/external/oYdLkG__5-hmxH163zsWx_ORBdxfqhkljQq9ctj0qFI/https/c0.wallpaperflare.com/preview/387/197/237/people-bible-hand-hands.jpg" alt="" width="180"></label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div id="gravecard" class="checkout">
                    <div class="card shadow border-0 mb-5">
                        <div class="card-body p-5">
                            <h2 class="h4 mb-1">Choose the Services for the Gravesite Care</h2>
                            <ul class="list-group">
                                <li class="list-group-item rounded-0 d-flex align-items-center justify-content-between">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" id="gravecareCheck" type="checkbox"  value="Wreath" checked>
                                        <label class="custom-control-label" for="gravecareCheck">
                                            <p class="mb-0">Gravestone Care - ₱1000</p><span class="small font-italic text-muted">Cleansing of dirt and other artifacts alongside the re-establishing of the gravestone foundation.</span>
                                        </label>
                                    </div>
                                    <label for="gravecareCheck"><img src="../../static/lapida_app/menu/images/grave1.jpg" alt="" width="60"></label>
                                </li>
                                <li class="list-group-item d-flex align-items-center justify-content-between">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" id="landscapeCheck" type="checkbox" value="Classic" checked>
                                        <label class="custom-control-label" for="landscapeCheck">
                                            <p class="mb-0">Landscape Care - ₱1000</p><span class="small font-italic text-muted">Extensive maintenance of the land surrounding the gravestone.</span>
                                        </label>
                                    </div>
                                    <label for="landscapeCheck"><img src="../../static/lapida_app/menu/images/grave2.jpg" alt="" width="60"></label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div id="flowercard" class="checkout">
                    <div class="card shadow border-0 mb-5">
                        <div class="card-body p-5">
                            <h2 class="h4 mb-1">Choose the Flower Shop</h2>
                            <select class="form-select" name="flowerSelect" id="flowerSelect" aria-label="Default select example" required>
                                <option selected disabled value="default">Select among the choices</option>
                                <option value="citifora">Citifora Flowers</option>
                                <option value="gertudes">Gertudes Flowershop</option>
                                <option value="raphael">Raphael's Gifts</option>
                                <option value="larose">La Rose</option>
                            </select>
                            </br>
                            <h2 class="h4 mb-1" id="arrangementtext">Choose the Type of Flower Arrangement</h2>
                            <div name="citiforagroup" id="citiforagroup">
                                <ul class="list-group">
                                    <li class="list-group-item rounded-0 d-flex align-items-center justify-content-between">
                                        <div class="custom-control custom-radio">
                                            <input class="custom-control-input" id="citiforaRadio1" type="radio" name="citiforaRadio" value="SYM-70 - ₱3490" checked>
                                            <label class="custom-control-label" for="citiforaRadio1">
                                                <p class="mb-0">SYM-70 - ₱3490</p><span class="small font-italic text-muted">A coffin spray arrangement of orchids and casa blanca, along with fillers. Sympathy flowers in a basket.</span>
                                            </label>
                                        </div>
                                        <label for="citiforaRadio1"><img src="../../static/lapida_app/menu/images/citifora1.jpg" alt="" width="60"></label>
                                    </li>
                                    <li class="list-group-item d-flex align-items-center justify-content-between">
                                        <div class="custom-control custom-radio">
                                            <input class="custom-control-input" id="citiforaRadio2" type="radio" name="citiforaRadio" value="SYM-72 - ₱3490">
                                            <label class="custom-control-label" for="citiforaRadio2">
                                                <p class="mb-0">SYM-72 - ₱3490</p><span class="small font-italic text-muted">A coffin spray arrangement of orchids and tuberoses, along with fillers. Send sympathy flowers to convey your sorrow for the loss of a loved one.</span>
                                            </label>
                                        </div>
                                        <label for="citiforaRadio2"><img src="../../static/lapida_app/menu/images/citifora2.jpg" alt="" width="60"></label>
                                    </li>
                                    <li class="list-group-item d-flex align-items-center justify-content-between">
                                        <div class="custom-control custom-radio">
                                            <input class="custom-control-input" id="citiforaRadio3" type="radio" name="citiforaRadio" value ="SYM-73 - ₱3000">
                                            <label class="custom-control-label" for="citiforaRadio3">
                                                <p class="mb-0">SYM-73 - ₱3000</p><span class="small font-italic text-muted">A coffin spray arrangement of cattleya orchids, along with fillers. Pick this one because it's the cheapest!</span>
                                            </label>
                                        </div>
                                        <label for="citiforaRadio3"><img src="../../static/lapida_app/menu/images/citifora3.jpg" alt="" width="60"></label>
                                    </li>
                                    <li class="list-group-item d-flex align-items-center justify-content-between">
                                        <div class="custom-control custom-radio">
                                            <input class="custom-control-input" id="citiforaRadio4" type="radio" name="citiforaRadio" value ="SYM-82 - ₱3490">
                                            <label class="custom-control-label" for="citiforaRadio4">
                                                <p class="mb-0">SYM-82 - ₱3490</p><span class="small font-italic text-muted">A basket spray arrangement of cattleya orchids and mums. A combination of white flowers in a basket.</span>
                                            </label>
                                        </div>
                                        <label for="citiforaRadio4"><img src="../../static/lapida_app/menu/images/citifora4.jpg" alt="" width="60"></label>
                                    </li>
                                </ul>
                            </div>
                            <ul class="list-group" name="gertudesgroup" id="gertudesgroup">
                                <li class="list-group-item rounded-0 d-flex align-items-center justify-content-between">
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" id="gertudesRadio1" type="radio" name="gertudesRadio" value="MIX1 - ₱1500" checked>
                                        <label class="custom-control-label" for="gertudesRadio1">
                                            <p class="mb-0">MIX1 - ₱1500</p><span class="small font-italic text-muted">A bunch of red flowers mixed in a basket.</span>
                                        </label>
                                    </div>
                                    <label for="gertudesRadio1"><img src="../../static/lapida_app/menu/images/gertudes1.jpg" alt="" width="60"></label>
                                </li>
                                <li class="list-group-item rounded-0 d-flex align-items-center justify-content-between">
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" id="gertudesRadio2" type="radio" name="gertudesRadio" value="SYMP-28 - ₱1500">
                                        <label class="custom-control-label" for="gertudesRadio2">
                                            <p class="mb-0">SYMP-28 - ₱1500</p><span class="small font-italic text-muted">A bunch of red and white flowers in a basket with aloe and some small, decorative flowers.</span>
                                        </label>
                                    </div>
                                    <label for="gertudesRadio2"><img src="../../static/lapida_app/menu/images/gertudes2.jpg" alt="" width="60"></label>
                                </li>
                                <li class="list-group-item rounded-0 d-flex align-items-center justify-content-between">
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" id="gertudesRadio3" type="radio" name="gertudesRadio" value="SYMP-B7 - ₱1700">
                                        <label class="custom-control-label" for="gertudesRadio3">
                                            <p class="mb-0">SYMP-B7 - ₱1700</p><span class="small font-italic text-muted">A bunch of pink flowers with white flowers in a basket with little flowers for design.</span>
                                        </label>
                                    </div>
                                    <label for="gertudesRadio3"><img src="../../static/lapida_app/menu/images/gertudes3.jpg" alt="" width="60"></label>
                                </li>
                                <li class="list-group-item rounded-0 d-flex align-items-center justify-content-between">
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" id="gertudesRadio4" type="radio" name="gertudesRadio" value="SYMP-CAS2 - ₱2500">
                                        <label class="custom-control-label" for="gertudesRadio4">
                                            <p class="mb-0">SYMP-CAS2 - ₱2500</p><span class="small font-italic text-muted">A combination of white flowers in a basket that represents purity.</span>
                                        </label>
                                    </div>
                                    <label for="gertudesRadio4"><img src="../../static/lapida_app/menu/images/gertudes4.jpg" alt="" width="60"></label>
                                </li>
                                <li class="list-group-item rounded-0 d-flex align-items-center justify-content-between">
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" id="gertudesRadio5" type="radio" name="gertudesRadio" value="SYMP-CAS3 - ₱4500">
                                        <label class="custom-control-label" for="gertudesRadio5">
                                            <p class="mb-0">SYMP-CAS3 - ₱4500</p><span class="small font-italic text-muted">A combination of white roses and lilies in a basket to represent your purest sympathy.</span>
                                        </label>
                                    </div>
                                    <label for="gertudesRadio5"><img src="../../static/lapida_app/menu/images/gertudes5.jpg" alt="" width="60"></label>
                                </li>
                            </ul>
                            <ul class="list-group" name="raphaelgroup" id="raphaelgroup">
                                <li class="list-group-item rounded-0 d-flex align-items-center justify-content-between">
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" id="raphaelRadio1" type="radio" name="raphaelRadio" value="Basket Of Love - ₱4990" checked>
                                        <label class="custom-control-label" for="raphaelRadio1">
                                            <p class="mb-0">Basket Of Love - ₱4990</p><span class="small font-italic text-muted">Fresh stems white oriental lilies, white mums, 10 pieces imported roses, snap dragons with fillers beautifully arranged in a wicker basket, perfect for sympathy arrangement.</span>
                                        </label>
                                    </div>
                                    <label for="raphaelRadio1"><img src="../../static/lapida_app/menu/images/raphael1.jpg" alt="" width="60"></label>
                                </li>
                                <li class="list-group-item rounded-0 d-flex align-items-center justify-content-between">
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" id="raphaelRadio2" type="radio" name="raphaelRadio" value="Perfect White Box - ₱1990">
                                        <label class="custom-control-label" for="raphaelRadio2">
                                            <p class="mb-0">Perfect White Box - ₱1990</p><span class="small font-italic text-muted">12 white Imported roses (Bangkok) in a box.  Perfect for Valentines, Birthday, Anniversary or Funeral & Sympathy.</span>
                                        </label>
                                    </div>
                                    <label for="raphaelRadio2"><img src="../../static/lapida_app/menu/images/raphael2.jpg" alt="" width="60"></label>
                                </li>
                                <li class="list-group-item rounded-0 d-flex align-items-center justify-content-between">
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" id="raphaelRadio3" type="radio" name="raphaelRadio" value="Roses and Casa Blanca Sympathy - ₱9990">
                                        <label class="custom-control-label" for="raphaelRadio3">
                                            <p class="mb-0">Roses and Casa Blanca Sympathy - ₱9990</p><span class="small font-italic text-muted">A lovely and ornate funeral wreath of roses, and casa blanca and orchids, presented on a 6 ft. stand for a beautiful and touching tribute to the deceased.</span>
                                        </label>
                                    </div>
                                    <label for="raphaelRadio3"><img src="../../static/lapida_app/menu/images/raphael3.jpg" alt="" width="60"></label>
                                </li>
                            </ul>
                            <ul class="list-group" name="larosegroup" id="larosegroup">
                                <li class="list-group-item rounded-0 d-flex align-items-center justify-content-between">
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" id="laroseRadio1" type="radio" name="laroseRadio" value="Sympathy Flat Spray - ₱7500" checked>
                                        <label class="custom-control-label" for="laroseRadio1">
                                            <p class="mb-0">Sympathy Flat Spray - ₱7500</p><span class="small font-italic text-muted">Sympathy flat spray arrangement of elegant mixed flowers in a basket.</span>
                                        </label>
                                    </div>
                                    <label for="laroseRadio1"><img src="../../static/lapida_app/menu/images/larose1.jpg" alt="" width="60"></label>
                                </li>
                                <li class="list-group-item rounded-0 d-flex align-items-center justify-content-between">
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" id="laroseRadio2" type="radio" name="laroseRadio" value="Sympathy Violet Orchids Basket - ₱2500">
                                        <label class="custom-control-label" for="laroseRadio2">
                                            <p class="mb-0">Sympathy Violet Orchids Basket - ₱2500</p><span class="small font-italic text-muted">Two dozen violet orchids in a basket.</span>
                                        </label>
                                    </div>
                                    <label for="laroseRadio2"><img src="../../static/lapida_app/menu/images/larose2.jpg" alt="" width="60"></label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div id="datepickercard" class="checkout">
                    <div class="card shadow border-0 mb-5">
                        <div class="card-body p-5">
                            <h2 class="h4 mb-1">Select the Date of Service</h2>
                            <p class="small text-muted font-italic mb-4">Please choose the date on when to avail the selected service/s.</p>
                            {{order.order_date}}
                        </div>
                    </div>
                </div>

                <div id="notecard" class="checkout">
                    <div class="card shadow border-0 mb-5">
                        <div class="card-body p-5">
                            <h2 class="h4 mb-1">Additional Notes</h2>
                            <p class="small text-muted font-italic mb-4">Write out specific instructions or additional messages to the caretaker in charge of the service/s. (Optional)</p>
                            <textarea class="form-control" name="Note" id="textarea" rows="3"></textarea>
                        </div>
                    </div>
                </div>

                <div id="candlecard" class="checkout">
                    <div class="card shadow border-0 mb-5">
                        <div class="card-body p-5">
                            <h2 class="h4 mb-1">Customize your Candle Options</h2>
                            <ul class="list-group mx-auto">
                                <li class="list-group-item d-flex align-items-center justify-content-between">
                                    <div class="custom-control">
                                        <label>
                                            <p class="mb-0">Candle Type 1</p><span class="small font-italic text-muted">Desc 1</span>
                                        </label>
                                        <div style="width: 125px">
                                            <input id="candle1" type="number" value="0" min="0" max="10"/>
                                        </div>
                                    </div>
                                    <label for="citiforaRadio3"><img src="../../static/lapida_app/menu/images/candle1.png" alt="" width="60"></label>
                                </li>
                                <li class="list-group-item d-flex align-items-center justify-content-between">
                                    <div class="custom-control">
                                        <label>
                                            <p class="mb-0">Candle Type 2</p><span class="small font-italic text-muted">Desc 2</span>
                                        </label>
                                        <div style="width: 125px">
                                            <input id="candle2" type="number" value="0" min="0" max="10"/>
                                        </div>
                                    </div>
                                    <label for="citiforaRadio3"><img src="../../static/lapida_app/menu/images/candle2.png" alt="" width="60"></label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

<div id="checkout" class="checkout">
    <div class="card shadow border-0 mb-5">

          <!-- Card -->
          <div class="card-body p-5">
              <h2 class="h4 mb-1">Payment Summary</h2>

              <ul class="list-group list-group-flush">
                  <div id="gravesiteheader">
                    <li class='list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0'>Gravesite Care</li>
                  </div>
                  <div id="gravestoneprice">
                    <li class='list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0 tab'>Gravestone Care<span>₱1000.00</span></li>
                  </div>
                  <div id="landscapeprice">
                    <li class='list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0 tab'>Landscape Care<span>₱1000.00</span></li>
                  </div>
                  <div id="floralheader">
                    <li class='list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0'>Floral Arrangements</li>
                  </div>
                  <div id="flowerprices">
                    <div id="citiforaprice1">
                        <li class='list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0 tab'>Citifora Flowers - SYM-70<span>₱3490.00</span></li>
                    </div>
                    <div id="citiforaprice2">
                        <li class='list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0 tab'>Citifora Flowers - SYM-72<span>₱3490.00</span></li>
                    </div>
                    <div id="citiforaprice3">
                        <li class='list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0 tab'>Citifora Flowers - SYM-73<span>₱3000.00</span></li>
                    </div>
                    <div id="citiforaprice4">
                        <li class='list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0 tab'>Citifora Flowers - SYM-82<span>₱3490.00</span></li>
                    </div>
                    <div id="gertudesprice1">
                        <li class='list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0 tab'>Gertudes Flowershop - MIX1<span>₱1500.00</span></li>
                    </div>
                    <div id="gertudesprice2">
                        <li class='list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0 tab'>Gertudes Flowershop - SYMP-28<span>₱1500.00</span></li>
                    </div>
                    <div id="gertudesprice3">
                        <li class='list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0 tab'>Gertudes Flowershop - SYMP-B7<span>₱1700.00</span></li>
                    </div>
                    <div id="gertudesprice4">
                        <li class='list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0 tab'>Gertudes Flowershop - SYMP-CAS2<span>₱2500.00</span></li>
                    </div>
                    <div id="gertudesprice5">
                        <li class='list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0 tab'>Gertudes Flowershop - SYMP-CAS3<span>₱4500.00</span></li>
                    </div>
                    <div id="raphaelprice1">
                        <li class='list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0 tab'>Raphael's Gifts - Basket Of Love<span>₱4990.00</span></li>
                    </div>
                    <div id="raphaelprice2">
                        <li class='list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0 tab'>Raphael's Gifts - Perfect White Box<span>₱1990.00</span></li>
                    </div>
                    <div id="raphaelprice3">
                        <li class='list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0 tab'>Raphael's Gifts - Roses and Casa Blanca Sympathy<span>₱9990.00</span></li>
                    </div>
                    <div id="larose1">
                        <li class='list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0 tab'>La Rose - Sympathy Flat Spray<span>₱7500.00</span></li>
                    </div>
                    <div id="larose2">
                        <li class='list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0 tab'>La Rose - Sympathy Violet Orchids Basket<span>₱2500.00</span></li>
                    </div>
                  </div>
                  <div id="candleprice">
                    <li class='list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0'>Candle Lights<span>₱500.00</span></li>
                  </div>
                  <div id="prayerprice">
                    <li class='list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0'>Prayer Service<span>₱1500.00</span></li>
                  </div>
                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                  <div>
                    <strong>Total amount</strong>
                  </div>
                    <div class="totalpay" id="totalpay" name="totalpay">

                    </div>
                </li>
              </ul>
              <button type="Submit" class="btn btn-primary btn-block">Proceed to Checkout</button>
              <input type="hidden" value="" id="cat_id" name="cat_id" />
              <input type="hidden" value="" id="summary" name="summary" />
              </form>
            </div>
          </div>
    </div>
            </div>
        </div>
    </div>
</div>
</section>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="{% static 'lapida_app/menu/js/gijgo.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'lapida_app/menu/spinner/src/input-spinner.js' %}"></script>

    <script type="text/javascript">

$(document).ready(function(){

$('input[type=number]').inputSpinner();

$('#datepicker').datepicker();
var finalpay = 0;
var prevrad = 1;

// Checkbox interactions

$('#gravecard').hide();
$('#flowercard').hide();
$('#datepickercard').hide();
$('#notecard').hide();
$('#candlecard').hide();
$('#gravesiteheader, #floralheader, #flowerprices, #citiforagroup, #gertudesgroup, #raphaelgroup, #larosegroup, #arrangementtext, #gravestoneprice, #landscapeprice, #candleprice, #prayerprice').hide();

$('#candleCheck, #prayerCheck').change(function(){
if($('#graveCheck, #flowerCheck, #candleCheck, #prayerCheck').is(':checked')){
$('#datepickercard').fadeIn('slow');
$('#notecard').fadeIn('slow');
$('#checkout').fadeIn('slow');
}
else{
$('#datepickercard').fadeOut('slow');
$('#notecard').fadeOut('slow');
$('#checkout').fadeOut('slow');
}
});

$('#graveCheck').change(function(){
if($('#graveCheck').is(':checked')){
$('#gravecareCheck').prop('checked', true);
$('#landscapeCheck').prop('checked', true);
$('#gravecard').fadeIn('slow');
$('#datepickercard').fadeIn('slow');
$('#notecard').fadeIn('slow');
$('#checkout').fadeIn('slow');
}
else if($('#flowerCheck, #candleCheck, #prayerCheck').is(':checked'))
$('#gravecard').fadeOut('slow');
else{
$('#gravecard').fadeOut('slow');
$('#flowercard').fadeOut('slow');
$('#datepickercard').fadeOut('slow');
$('#notecard').fadeOut('slow');
$('#checkout').fadeOut('slow');
}
});

$('#flowerCheck').change(function(){
if($('#flowerCheck').is(':checked')){
$('#flowercard').fadeIn('slow');
}
else if($('#graveCheck, #candleCheck, #prayerCheck').is(':checked'))
$('#flowercard').fadeOut('slow');
else{
$('#gravecard').fadeOut('slow');
$('#flowercard').fadeOut('slow');
$('#datepickercard').fadeOut('slow');
$('#notecard').fadeOut('slow');
$('#checkout').fadeOut('slow');
}
});

// Dynamic Payment Display Behavior


$('#gravecareCheck').change(function(){
    if($('#gravecareCheck').is(':checked')){
        finalpay = finalpay + 1000;
        $('#gravesiteheader').fadeIn('slow');
        $('#gravestoneprice').fadeIn('slow');
        $("#totalpay").empty();
        $( ".totalpay" ).append( "<span><strong>₱" + finalpay + ".00</strong></span>" );
        option = "Cleansing of dirt and other artifacts alongside the re-establishing of the gravestone foundation. ";
        var current_option = $(this).attr('summary');
        var final_option = current_option.concat(option)
        $("#summary").val(final_option);
    }
    else{
        finalpay = finalpay - 1000;
        if(!$('#landscapeCheck').is(':checked')){
            $('#gravesiteheader').fadeOut('slow');
            $('#gravecard').fadeOut('slow');
            $('#flowercard').fadeOut('slow');
            $('#datepickercard').fadeOut('slow');
            $('#notecard').fadeOut('slow');
            $('#checkout').fadeOut('slow');
            $('#graveCheck').prop('checked', false);
        }
        $('#gravestoneprice').fadeOut('slow');
        $("#totalpay").empty();
        $( ".totalpay" ).append( "<span><strong>₱" + finalpay + ".00</strong></span>" );
        var current_option = $(this).attr('summary');
        var final_option = current_option.replace("Cleansing of dirt and other artifacts alongside the re-establishing of the gravestone foundation. ", "")  
        $("#summary").val(final_option);      
    }
    $("#cat_id").val(finalpay);
});

$('#landscapeCheck').change(function(){
    if($('#landscapeCheck').is(':checked')){
        finalpay = finalpay + 1000;
        $('#gravesiteheader').fadeIn('slow');
        $('#landscapeprice').fadeIn('slow');
        $("#totalpay").empty();
        $( ".totalpay" ).append( "<span><strong>₱" + finalpay + ".00</strong></span>" );
        option = "Extensive maintenance of the land surrounding the gravestone. ";
        var current_option = $(this).attr('summary');
        var final_option = current_option.concat(option)
        $("#summary").val(final_option);
    }
    else{
        finalpay = finalpay - 1000;
        if(!$('#gravecareCheck').is(':checked')){
            $('#gravesiteheader').fadeOut('slow');
            $('#gravecard').fadeOut('slow');
            $('#flowercard').fadeOut('slow');
            $('#datepickercard').fadeOut('slow');
            $('#notecard').fadeOut('slow');
            $('#checkout').fadeOut('slow');
            $('#graveCheck').prop('checked', false);
        }
        $('#landscapeprice').fadeOut('slow');
        $("#totalpay").empty();
        $( ".totalpay" ).append( "<span><strong>₱" + finalpay + ".00</strong></span>" );
        var current_option = $(this).attr('summary');
        var final_option = current_option.replace("Extensive maintenance of the land surrounding the gravestone. ", "")  
        $("#summary").val(final_option); 
    }
$("#cat_id").val(finalpay);
});


$('#graveCheck').change(function(){
    if($('#graveCheck').is(':checked')){
        if($('#gravecareCheck').is(':checked')){
            finalpay = finalpay + 1000;
            $('#gravesiteheader').fadeIn('slow');
            $('#gravestoneprice').fadeIn('slow');
            $("#totalpay").empty();
            $( ".totalpay" ).append( "<span><strong>₱" + finalpay + ".00</strong></span>" );
        }
        if($('#landscapeCheck').is(':checked')){
            finalpay = finalpay + 1000;
            $('#gravesiteheader').fadeIn('slow');
            $('#landscapeprice').fadeIn('slow');
            $("#totalpay").empty();
            $( ".totalpay" ).append( "<span><strong>₱" + finalpay + ".00</strong></span>" );
        }
    }
    else{
        if($('#gravecareCheck').is(':checked')){
            finalpay = finalpay - 1000;
            $('#gravesiteheader').fadeOut('slow');
            $('#gravestoneprice').fadeOut('slow');
            $("#totalpay").empty();
            $( ".totalpay" ).append( "<span><strong>₱" + finalpay + ".00</strong></span>" );
        }
        if($('#landscapeCheck').is(':checked')){
            finalpay = finalpay - 1000;
            $('#gravesiteheader').fadeOut('slow');
            $('#landscapeprice').fadeOut('slow');
            $("#totalpay").empty();
            $( ".totalpay" ).append( "<span><strong>₱" + finalpay + ".00</strong></span>" );
        }
    }
    $("#cat_id").val(finalpay);
});

// ADD FLOWER TEMPLATE
// finalpay = finalpay + 3490;
// $('#floralheader').fadeIn('slow');
// $('#citiforaprice1').fadeIn('slow');
// $("#totalpay").empty();
// $( ".totalpay" ).append( "<span><strong>₱" + finalpay + ".00</strong></span>" );

//REMOVE FLOWER TEMPLATE
// finalpay = finalpay - 3490;
// $('#floralheader').fadeOut('slow');
// $('#citiforaprice1').fadeOut('slow');
// $("#totalpay").empty();
// $( ".totalpay" ).append( "<span><strong>₱" + finalpay + ".00</strong></span>" );


$('#flowerSelect').change(function(){
    if(this.value == "citifora"){
        $('#citiforagroup').fadeIn('slow');
        $('#gertudesgroup').hide();
        $('#raphaelgroup').hide();
        $('#larosegroup').hide();
        $('#datepickercard').fadeIn('slow');
        $('#notecard').fadeIn('slow');
        $('#checkout').fadeIn('slow');
    }
    else if(this.value == "gertudes"){
        $('#gertudesgroup').fadeIn('slow');
        $('#citiforagroup').hide();
        $('#raphaelgroup').hide();
        $('#larosegroup').hide();
        $('#datepickercard').fadeIn('slow');
        $('#notecard').fadeIn('slow');
        $('#checkout').fadeIn('slow');
    }
    else if(this.value == "raphael"){
        $('#raphaelgroup').fadeIn('slow');
        $('#citiforagroup').hide();
        $('#gertudesgroup').hide();
        $('#larosegroup').hide();
        $('#datepickercard').fadeIn('slow');
        $('#notecard').fadeIn('slow');
        $('#checkout').fadeIn('slow');
    }
    else if(this.value == "larose"){
        $('#larosegroup').fadeIn('slow');
        $('#citiforagroup').hide();
        $('#gertudesgroup').hide();
        $('#raphaelgroup').hide();
        $('#datepickercard').fadeIn('slow');
        $('#notecard').fadeIn('slow');
        $('#checkout').fadeIn('slow');
    }
});


$('#flowerCheck').change(function(){
    if($('#flowerCheck').is(':checked')){
        
    }
    else{
        $('#flowerSelect').val('default').change();
        $('#citiforagroup').hide();
        $('#gertudesgroup').hide();
        $('#raphaelgroup').hide();
        $('#larosegroup').hide();
    }
    $("#cat_id").val(finalpay);
});

$('#candleCheck').change(function(){
    if($('#candleCheck').is(':checked')){
        finalpay = finalpay + 500;
        $('#candleprice').fadeIn('slow');
        $("#totalpay").empty();
        $( ".totalpay" ).append( "<span><strong>₱" + finalpay + ".00</strong></span>" );
    }
    else{
        finalpay = finalpay - 500;
        $('#candleprice').fadeOut('slow');
        $("#totalpay").empty();
        $( ".totalpay" ).append( "<span><strong>₱" + finalpay + ".00</strong></span>" );
    }
    $("#cat_id").val(finalpay);
});

$('#prayerCheck').change(function(){
    if($('#prayerCheck').is(':checked')){
        finalpay = finalpay + 1500;
        $('#prayerprice').fadeIn('slow');
        $("#totalpay").empty();
        $( ".totalpay" ).append( "<span><strong>₱" + finalpay + ".00</strong></span>" );
    }
    else{
        finalpay = finalpay - 1500;
        $('#prayerprice').fadeOut('slow');
        $("#totalpay").empty();
        $( ".totalpay" ).append( "<span><strong>₱" + finalpay + ".00</strong></span>" );
    }
    $("#cat_id").val(finalpay);
});

$('#citiforaRadio1').change(function(){
    if($('#citiforaRadio1').is(':checked')){
        if(prevrad == 2)
            finalpay = finalpay - 4000;
        else if(prevrad == 3)
            finalpay = finalpay - 6600;
         finalpay = finalpay + 3000;
        $('#flowerprice1').fadeIn('slow');
        $('#flowerprice2').fadeOut('slow');
        $('#flowerprice3').fadeOut('slow');
        $("#totalpay").empty();
        $( ".totalpay" ).append( "<span><strong>₱" + finalpay + ".00</strong></span>" );
        prevrad = 1;
    }
    else{
        $('#flowerprice1').fadeOut('slow');
        $("#totalpay").empty();
        $( ".totalpay" ).append( "<span><strong>₱" + finalpay + ".00</strong></span>" );
    }
    $("#cat_id").val(finalpay);
});

$('#citiforaRadio2').change(function(){
    if($('#citiforaRadio2').is(':checked')){
        if(prevrad == 1)
            finalpay = finalpay - 3000;
        else if(prevrad == 3)
            finalpay = finalpay - 6600;
        finalpay = finalpay + 4000;
        $('#flowerprice2').fadeIn('slow');
        $('#flowerprice1').fadeOut('slow');
        $('#flowerprice3').fadeOut('slow');
        $("#totalpay").empty();
        $( ".totalpay" ).append( "<span><strong>₱" + finalpay + ".00</strong></span>" );
        prevrad = 2;
    }
    else{
        $('#flowerprice2').fadeOut('slow');
        $("#totalpay").empty();
        $( ".totalpay" ).append( "<span><strong>₱" + finalpay + ".00</strong></span>" );
    }
    $("#cat_id").val(finalpay);
});

$('#citiforaRadio3').change(function(){
    if($('#citiforaRadio3').is(':checked')){
        if(prevrad == 1)
            finalpay = finalpay - 3000;
        else if(prevrad == 2)
            finalpay = finalpay - 4000;
        finalpay = finalpay + 6600;
        $('#flowerprice3').fadeIn('slow');
        $('#flowerprice1').fadeOut('slow');
        $('#flowerprice2').fadeOut('slow');
        $("#totalpay").empty();
        $( ".totalpay" ).append( "<span><strong>₱" + finalpay + ".00</strong></span>" );
        prevrad = 3;
    }
    else{
        $('#flowerprice3').fadeOut('slow');
        $("#totalpay").empty();
        $( ".totalpay" ).append( "<span><strong>₱" + finalpay + ".00</strong></span>" );
    }
    $("#cat_id").val(finalpay);
});


});
    </script>
{%endblock%}