{% extends "lapida_app/base.html" %}
{% load static %}
{% block content  %}
{% load sweetify %}
<!DOCTYPE html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<html lang="en">
{% sweetify %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{%url 'home-view'%}">Home</a></li>
          <li>Profile</li>
        </ol>
        <h2>User Profile</h2>
        <a href="{%url 'create-dead'%}" class="btn btn-success">
          <i class="fa fa-plus" aria-hidden="true"></i> Add Beneficiary
          </a>
      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <p>
          Table of the Dead
        </p>
        <table class="table table-striped table-dark" style="table-layout:fixed">
  <thead>
    <tr style="width:100px">
      <th scope="col" >#</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Place</th>
      <th scope="col"></th>
    </tr>
  </thead>
   {%for item in form%}
  <tbody>
    <tr>
      <th scope="row" >{{forloop.counter}}</th>
      <td >{{item.last_name}}, {{item.first_name}} {{item.middle_name}}</td>
      <td>
      {%if item.category == "C" %}
        Cemetery
      {%else%}
        Columbarium
      {%endif%}
    </td>
      <td>{{item.street}}, {{item.blk}} - {{item.lot}} </td>
      <td><a href="{%url 'delete' uid=item.uid%}" uid="{{item.uid}}" class="btn btn-danger aaf">
        <i class="fa fa-minus" aria-hidden="true"></i> Delete Profile
      </a></td>
    </tr>
  </tbody>
{%endfor%}
</table>
      </div>
    </section>

 <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <h2>User Transactions</h2>
        <a href="{%url 'menu'%}" class="btn btn-success">
          <i class="fa fa-plus" aria-hidden="true"></i> Add Transaction
          </a>
      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <p>
          User Transactions Table
        </p>
        <table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
   {%for order in order_user%}
  <tbody>
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>
      <a href="{%url 'summary' id=order.id%}" class="pull-left" style="color:white;text-decoration:underline">
      {{order.profile_dead.uid.last_name}}, {{order.profile_dead.uid.first_name}} {{order.profile_dead.uid.middle_name}}
    </a>
    </td>
      <td>
        {{order.get_status_display}}
    </td>
      <td>{{order.order_date|date:"D d M Y"}}</td>
    </tr>
  </tbody>
{%endfor%}
</table>
      </div>
    </section>
  </main><!-- End #main -->
<script>
$(function() {
    $('.aaf').click(function (e) {
            e.preventDefault();
            var tthis = $(this);
            var usersid =  $(this).attr("uid");
            var url = "{% url 'delete' uid=1 %}".replace('1', usersid);
            console.log(usersid);

      Swal.fire({
      title: "Are you sure?",
      text: "Your profile will be deleted.",
      icon: "warning",
      showCancelButton: true,
      confirmButtonText: "Yes",
      cancelButtonText: "No",
      dangerMode: true,
    }).then(function(isConfirm) {
      if (isConfirm) {
        swal({
          title: 'Profile has been deleted!',
          text: 'Your profile successfully deleted!',
          icon: 'success'
        }).then(function() {
             $.get( url, function( data ) { 
                });
        });
      } else {
        swal("Cancelled", "Your Profile is safe :)", "error");
      }
    })
});
      
});
</script>
{%endblock%}
</body>

</html>