{% extends "lapida_app/base.html" %}
{% load static %}
{% block content  %}
{% load auth_extras %}
{% load sweetify %}
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
  <link href="{% static 'lapida_app/summary/summary.css'%}" rel="stylesheet">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
  {% sweetify %}
{% if request.user|has_group:"customer" %} 
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="project-info-box">
                <h5>REQUEST DETAILS</h5>
                <p class="mb-0">{{form.services}}</p>
            </div><!-- / project-info-box -->

            <div class="project-info-box">
                <p><b>Client:</b> {{form.profile_dead.user}}</p>
                <p><b>Date:</b> {{form.ctime|date:"D d M Y"}}</p>
                <p><b>Name of the Deceased:</b> {{form.profile_dead.uid.last_name}}, {{form.profile_dead.uid.first_name}} {{form.profile_dead.uid.middle_name}}</p>
                <p><b>Location:</b> {{form.profile_dead.uid.place}} - {{form.profile_dead.uid.street}} {{form.profile_dead.uid.blk}} {{form.profile_dead.uid.lot}}</p>
                <p class="mb-0"><b>Status:</b> {{form.get_status_display}}</p>
                {%if form.note%}
                <p class="mb-0"><b>Note:</b> {{form.note}}</p>
                {%endif%}
            </div><!-- / project-info-box -->
            {%if form.status == "NT" %}
            <div class="project-info-box mt-0 mb-0">
                            <a href="" order_id="{{form.id}}" class="btn btn-danger btn-lg eef"> Cancel</a>
    <!-- Set up a container element for the button -->
    {%elif form.status == "P" %}
                    <div class="project-info-box mt-0 mb-0">
                            <a href="" order_id="{{form.id}}" class="btn btn-danger btn-lg ddf"> Cancel</a>
    <div id="paypal-button-container"></div>
                </p>
            </div><!-- / project-info-box -->
  {%endif%}

        </div>



        {%if form.image.url != "/media/image/upload_default.png"%}
        <!-- / column -->
        <div class="col-md-7">
            <div class="project-info-box">
                <p>Proof of Service Preview:</p>
                <img src="{{form.image.url}}" id="display-img" style="width:650px;height:500px">
            </div>
            <div class="project-info-box">
                <p><b>Latest Time Updated:</b> {{form.uptime}}</p>
            </div><!-- / project-info-box -->
        </div><!-- / column -->
        {%endif%}

    </div>
</div>
{% elif request.user|has_group:"caretaker" %}
<div class="container">

    <div class="row">
        <div class="col-md-5">
            <div class="project-info-box">
                <h5>REQUEST DETAILS</h5>
                <p class="mb-0">{{form.services}}</p>
            </div><!-- / project-info-box -->

            <div class="project-info-box">
                <p><b>Client:</b> {{form.profile_dead.user}}</p>
                <p><b>Scheduled Date:</b> {{form.order_date|date:"D d M Y"}}</p>
                <p><b>Name of the Deceased:</b> {{form.profile_dead.uid.last_name}}, {{form.profile_dead.uid.first_name}} {{form.profile_dead.uid.middle_name}}</p>
                <p><b>Location:</b> {{form.profile_dead.uid.place}} - {{form.profile_dead.uid.street}} {{form.profile_dead.uid.blk}} {{form.profile_dead.uid.lot}}</p>
                <p class="mb-0"><b>Status:</b> {{form.get_status_display}}</p>
                {%if form.note%}
                <p class="mb-0"><b>Note:</b> {{form.note}}</p>
                {%endif%}
            </div><!-- / project-info-box -->
{%if form.status != "Ca" and form.status != "C" and form.status != "NT" %}
            <div class="col-md-13">
                        <div class="project-info-box">
                            <form action="{%url 'update-picture' id=form.id%}" method ="POST" enctype="multipart/form-data">
                            {%csrf_token%}
                            <label class="form-label" for="customFile">Upload the proof of service here:</label>
                            <input type="file" name="image" class="form-control" style="margin-bottom:7px" id="customFile" accept="image/* "/>
                            <button type="submit" class="btn btn-primary btn-lg" onclick="return confirm('Are you sure you want to update the picture?');"style="margin-bottom:5px">Update Image</button>
                        </form>
                            {%if form.status == "Pa" or form.status == "O" %}
                            <a href="" order_id="{{form.id}}" class="btn btn-success btn-lg aaf"> Update Transaction
                            </a>
                            {%endif%}
                            </div>
                    </div>
        </div>
        <!-- / column -->
        <div class="col-md-7">
            <div class="project-info-box">
                <p>Proof of Service Preview:</p>
                <img src="{{form.image.url}}" class="rounded" id="display-img" style="width:650px;height:500px">
            </div>
            <div class="project-info-box">
                <p><b>Latest Time Updated:</b> {{form.uptime}}</p>
            </div><!-- / project-info-box -->
        </div><!-- / column -->
{%elif form.status == "NT" %}
            <div class="col-md-13">
                        <div class="project-info-box">
                                    <a href="" order_id="{{form.id}}" class="btn btn-success btn-lg ccf"> Claim this Task 
                            </a>
                        </div>
            </div>
{%endif%}

    </div>
</div>

{%endif%} 
 <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AZ99n5v8uTUjhoGvST_V46LKtl5yCCtEAubC2ReOKeWVjkSkd1SYrHda3RRlUbODi4q7CBivVyBV2Rso&currency=PHP"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: {{form.price}}
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                     $.get( "{% url 'approvepayment' id=form.id%}", function( data ) { 
                }); 
                });
            }


        }).render('#paypal-button-container');
    </script>

    <script>
        $(document).ready(function(){
            $("#customFile").change(function(event){
                var x = URL.createObjectURL(event.target.files[0]);
                $("#display-img").attr("src",x);
                console.log(event);
                });
        })
    </script>


<script>
$(function() {
    $('.aaf').click(function (e) {
      e.preventDefault();
      var tthis = $(this);
      var usersid =  $(this).attr("order_id");
      var url = "{% url 'update-status' id=1 %}".replace('1', usersid);
      var url_href = "{% url 'summary' id=1 %}".replace('1', usersid);
      const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: 'btn btn-success',
          cancelButton: 'btn btn-danger'
        },
        buttonsStyling: false
      })
    swalWithBootstrapButtons.fire({
      title: 'Are you sure?',
      text: "You're updating the status of this order to the next step (Paid -> Ongoing -> Completed)",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Yes, update it!',
      cancelButtonText: 'No, cancel!',
      reverseButtons: true
    }).then((result) => {
      if (result.isConfirmed) {
        swalWithBootstrapButtons.fire(
          'Updated!',
          'Your task has been updated!',
          'success'
        ).then(function(){ 
    $.get( url, function( data ) { 
  });
    location.href = url_href
   });
      } else if (
        /* Read more about handling dismissals below */
        result.dismiss === Swal.DismissReason.cancel
      ) {
        swalWithBootstrapButtons.fire(
          'Cancelled',
          'Your request is cancelled. :)',
          'error'
        )
      }
    })
     
      
});


    $('.ccf').click(function (e) {
      e.preventDefault();
      var tthis = $(this);
      var usersid =  $(this).attr("order_id");
      var url = "{% url 'reserved-status' id=1 %}".replace('1', usersid);
      var url_href = "{% url 'summary' id=1 %}".replace('1', usersid);
      const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: 'btn btn-success',
          cancelButton: 'btn btn-danger'
        },
        buttonsStyling: false
      })
    swalWithBootstrapButtons.fire({
      title: 'Are you sure?',
      text: "You're gonna reserve this task to your account",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Yes, update it!',
      cancelButtonText: "No, I don't want to!",
      reverseButtons: true
    }).then((result) => {
      if (result.isConfirmed) {
        swalWithBootstrapButtons.fire(
          'Reserved!',
          'This task has been reserved to you',
          'success'
        ).then(function(){ 
    $.get( url, function( data ) { 
  });
    location.href = url_href
   });
      } else if (
        /* Read more about handling dismissals below */
        result.dismiss === Swal.DismissReason.cancel
      ) {
        swalWithBootstrapButtons.fire(
          'Cancelled',
          'Your request is cancelled. :)',
          'error'
        )
      }
    })
     
      
});

    $('.ddf').click(function (e) {
      e.preventDefault();
      var tthis = $(this);
      var usersid =  $(this).attr("order_id");
      var url = "{% url 'cancel-status' id=1 %}".replace('1', usersid);
      var url_href = "{% url 'summary' id=1 %}".replace('1', usersid);
      const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: 'btn btn-success',
          cancelButton: 'btn btn-danger'
        },
        buttonsStyling: false
      })
    swalWithBootstrapButtons.fire({
      title: 'Are you sure?',
      text: "You're updating the status of this order to Cancel",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Yes, update it!',
      cancelButtonText: 'No, cancel!',
      reverseButtons: true
    }).then((result) => {
      if (result.isConfirmed) {
        swalWithBootstrapButtons.fire(
          'Updated!',
          'Your task has been updated!',
          'success'
        ).then(function(){ 
    $.get( url, function( data ) { 
  });
    location.href = url_href
   });
      } else if (
        /* Read more about handling dismissals below */
        result.dismiss === Swal.DismissReason.cancel
      ) {
        swalWithBootstrapButtons.fire(
          'Cancelled',
          'Your request is cancelled. :)',
          'error'
        )
      }
    })
     
      
});


    $('.eef').click(function (e) {
      e.preventDefault();
      var tthis = $(this);
      var usersid =  $(this).attr("order_id");
      var url = "{% url 'cancel-status' id=1 %}".replace('1', usersid);
      var url_href = "{% url 'profile' %}";
      const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: 'btn btn-success',
          cancelButton: 'btn btn-danger'
        },
        buttonsStyling: false
      })
    swalWithBootstrapButtons.fire({
      title: 'Are you sure?',
      text: "You're updating the status of this order to Cancel",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Yes, update it!',
      cancelButtonText: 'No, cancel!',
      reverseButtons: true
    }).then((result) => {
      if (result.isConfirmed) {
        swalWithBootstrapButtons.fire(
          'Updated!',
          'Your task has been updated!',
          'success'
        ).then(function(){ 
    $.get( url, function( data ) { 
  });
    location.href = url_href
   });
      } else if (
        /* Read more about handling dismissals below */
        result.dismiss === Swal.DismissReason.cancel
      ) {
        swalWithBootstrapButtons.fire(
          'Cancelled',
          'Your request is cancelled. :)',
          'error'
        )
      }
    })
     
      
});

});

</script>




{%endblock%}